body {
  background: #fff;
}

#title {
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 10vw;
  padding: 0px;
  color: transparent;
  font-family: '8BITWONDERNominal', sans-serif;
     text-shadow: 
      5px -5px 0 #FCB42A,
      1px -1px 0 #F7F461,
      0px 0px 0 #2e2e2e,
      -1px 2px 0 #2c2c2c, 
      -2px 3px 0 #2a2a2a, 
      -3px 4px 0 #282828, 
      -4px 5px 0 #262626, 
      -5px 6px 0 #242424, 
      -6px 7px 0 #222, 
      -7px 8px 0 #202020, 
      -8px 9px 0 #1e1e1e, 
      -9px 10px 0 #1c1c1c, 
      -10px 11px 0 #1a1a1a, 
      -11px 12px 0 #181818, 
      -12px 13px 0 #161616, 
      -13px 14px 0 #141414, 
      -14px 15px 0 #121212, 
      -10px 15px 30px rgba(0, 0, 0, 0.9); 
}